{%- comment -%}

Include document article
- Pass in page

{%- endcomment -%}

{%- assign my_doc = include.my_doc -%}

{%- assign collection = site.collections | where_exp: "collection", "collection.label == my_doc.collection" | first -%}

{%- assign doc_uid = my_doc.uid | strip -%}
{%- assign doc_title = my_doc.title | strip -%}
{%- assign doc_image = my_doc.image.path | default: my_doc.image -%}
{%- assign doc_author = my_doc.author | default: my_doc.authors.first | default: site.author -%}
{%- assign doc_author_name = doc_author.name | default: doc_author | default: '' -%}
{%- assign doc_author_email = doc_author.email | default: site.email -%}

<article id="note-{{ doc_uid }}" class="{{ my_doc.collection }}-collection main-doc" role="document" itemscope itemtype="http://schema.org/BlogPosting"{%- if collection.color -%}{{" "}}style="--collection-color:{{ collection.color }}"{%- endif -%}>

	<header class="doc-header">

		<div class="doc-index doc-meta">

			{%- if my_doc.collection != "posts" -%}
			<div class="doc-collection">{{ site.collections[my_doc.collection].title | default: my_doc.collection }}</div>
			{%- endif -%}

			{%- capture doc_datetime -%}{%- include uid-to-datetime.html my_uid=doc_uid -%}{%- endcapture -%}
			<div class="doc-id"><time datetime="{{ doc_datetime | strip | date_to_xmlschema }}">{{ doc_uid }}</time></div>

		</div>

	    {%- if doc_image -%}
	    {%- unless doc_image contains "://" -%}
	    {%- assign doc_image = doc_image | absolute_url -%}
	    {%- endunless -%}
		<figure class="doc-image doc-meta"><img src="{{ doc_image }}" alt="">{%- if my_doc.image.description -%}<figcaption>{{ my_doc.image.description }}</figcaption>{%- endif -%}</figure>
		{%- endif -%}

		{%- if doc_title != doc_uid -%}
		{%- capture doc_title -%}{%- include filter-title.html my_title=doc_title -%}{%- endcapture -%}
		<h1 class="doc-title doc-meta">{{ doc_title | strip }}</h1>
		{%- endif -%}

		{%- if doc_author_name != site.author and doc_author_name != site.author.name -%}
		<p class="doc-author doc-meta">By {{ doc_author_name }}</p>
		{%- endif -%}

		{%- if my_doc.updated -%}
		<p class="doc-updated doc-meta">Updated <time datetime="{{ my_doc.updated | date_to_xmlschema }}">{{ my_doc.updated | date: site.date_format }}</time></p>
		{%- endif -%}
		
		{%- if my_doc.location and site.google_static_maps -%}
		{%- comment -%} No check of location; Google parses addresses and coordinates {%- endcomment -%}
		<div class="doc-location doc-meta">
			<img src="https://maps.googleapis.com/maps/api/staticmap?markers={{ my_doc.location | url_encode }}&zoom=6&size=640x274&scale=2&key={{ site.google_static_maps }}" alt="Located at {{ my_doc.location | escape }}">
		</div>
		{%- endif -%}

	</header>

	<div class="doc-content">

		{%- capture doc_content -%}{{ content }}{%- endcapture -%}
		{%- capture my_content -%}{%- include filter-content.html my_content=my_doc.content -%}{%- endcapture -%}
		{{ my_content | strip }}

	</div>
	
	<div class="doc-footer">

		{%- comment -%} Reply by email {%- endcomment -%}
		{%- if doc_author_email -%}
		<div class="doc-reply doc-meta"><a href="mailto:{{ doc_author_email }}?subject=Re: {{ my_doc.title | strip_html | normalize_whitespace | escape }}"><svg class="icon icon-email" width="32" height="32"><use xlink:href="#icon-email"></use></svg>Reply</a></div>
		{%- endif -%}

		{%- comment -%} Link to GitHub history {%- endcomment -%}
		{%- if site.github -%}
		<div class="doc-history doc-meta"><a href="https://github.com/{{ site.github }}/{{ site.github }}.github.io/commits/master/{{ my_doc.path }}"><svg class="icon icon-github" width="32" height="32"><use xlink:href="#icon-github"></use></svg>History</a></div>
		{%- endif -%}

	</div>

</article>
