{%- comment -%}

Include page article

{%- endcomment -%}

{%- capture page_title -%}{%- include filter-title.html my_doc=page -%}{%- endcapture -%}

<hr class="main-rule rule-article">

<article id="page-{{ page.title | slugify }}" class="page-doc main-article h-entry" role="document">
	<header class="article-header">
		<h1 class="doc-title doc-meta">{{ page_title }}</h1>
	</header>
	<div class="article-content">

		{%- comment -%} Pages need content rendered {%- endcomment -%}

		{%- assign page_content = page.content | markdownify -%}

		{%- capture content -%}{%- include filter-content.html my_content=page_content -%}{%- endcapture -%}

		{{- content -}}

	</div>
</article>
