{%- comment -%}

Include post/blog article
- Pass in document

{%- endcomment -%}

{%- assign my_doc = include.my_doc -%}

{%- capture doc_date -%}<time datetime="{{ my_doc.date | date_to_xmlschema }}">{{ my_doc.date | date: site.date_format }}</time>:{%- endcapture -%}
{%- if page.url != my_doc.url -%}
{%- capture doc_date -%}<a href="{{ my_doc.url | absolute_url }}" rel="bookmark">{{ doc_date }}</a>{%- endcapture -%}
{%- endif -%}

<article id="post-{{ my_doc.slug }}" class="post-doc main-doc h-entry" role="document" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="doc-header">
		<div class="doc-date doc-meta">{{ doc_date }}</div>
	</header>
	<div class="doc-content">

		{%- capture my_content -%}{%- include filter-content.html my_doc=my_doc -%}{%- endcapture -%}
		{{ my_content | strip }}

		{%- if my_doc.reference -%}
		{%- capture ref_content -%}{%- include content-reference.html my_doc=my_doc -%}{%- endcapture -%}
		{{ ref_content | strip }}
		{%- endif -%}

	</div>
</article>
