{%- comment -%}

Include post/blog article

{%- endcomment -%}

{%- capture page_date -%}{%- include filter-date.html my_doc=page -%}{%- endcapture -%}

{%- capture page_date -%}<a href="{{ page.url | absolute_url }}" rel="bookmark"><time datetime="{{ page_date }}" title="{{ page_date | date_to_rfc822 }}">{{ page_date | date: site.date_format }}</time></a>:{%- endcapture -%}

<hr class="main-rule rule-article">

<article id="post-{{ page.slug }}" class="post-doc main-article h-entry" role="document" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="article-header">
		<div class="doc-date doc-meta">{{ page_date }}</div>
	</header>
	<div class="article-content">

		{%- capture content -%}{%- include content.html my_doc=page -%}{%- endcapture -%}

		{{- content -}}

	</div>
</article>
