{%- comment -%}

Include document article
- Pass in page

{%- endcomment -%}

{%- assign my_doc = include.my_doc -%}

{%- assign collection = site.collections | where_exp: "collection", "collection.label == my_doc.collection" | first -%}

{%- assign doc_uid = my_doc.uid | strip -%}
{%- assign doc_title = my_doc.title | strip -%}
{%- assign doc_image = my_doc.image.path | default: my_doc.image -%}
{%- assign doc_author = my_doc.author | default: my_doc.authors.first | default: site.author -%}
{%- assign doc_author_name = doc_author.name | default: doc_author -%}
{%- assign doc_author_email = doc_author.email | default: site.email -%}

<article id="note-{{ doc_uid }}" class="{{ my_doc.collection }}-collection main-doc" role="document" itemscope itemtype="http://schema.org/BlogPosting"{%- if collection.color -%}{{ " " }}style="--collection-color:{{ collection.color }}"{%- endif -%}>

	<header class="doc-header">

		<div class="doc-index doc-meta">

			{%- if my_doc.collection != "posts" -%}
			<div class="doc-collection">{{ site.collections | where: 'label', my_doc.collection | map: 'title' | first | default: my_doc.collection }}</div>
			{%- endif -%}

			{%- capture doc_date -%}{%- include filter-date.html my_doc=my_doc -%}{%- endcapture -%}
			<div class="doc-id"><time datetime="{{ doc_date | strip | date_to_xmlschema }}">{{ doc_uid }}</time></div>

		</div>

	    {%- if doc_image -%}
	    {%- unless doc_image contains "://" -%}
	    {%- assign doc_image = doc_image | absolute_url -%}
	    {%- endunless -%}
		<figure class="doc-image doc-meta"><img src="{{ doc_image }}" alt="">{%- if my_doc.image.description -%}<figcaption>{{ my_doc.image.description }}</figcaption>{%- endif -%}</figure>
		{%- endif -%}

		{%- comment -%} Don't display title if none explicitly set {%- endcomment -%}
		{%- assign doc_title_slugifed = doc_title | slugify -%}
		{%- unless doc_title_slugifed == my_doc.slug -%}
		{%- capture doc_title -%}{%- include filter-title.html my_doc=my_doc -%}{%- endcapture -%}
		<h1 class="doc-title doc-meta">{{ doc_title | strip }}</h1>
		{%- endunless -%}
		
		<div class="doc-byline doc-meta">

			{%- if doc_author_name != site.author and doc_author_name != site.author.name -%}
			<div class="doc-author">By {{ doc_author_name }}</div>
			{%- endif -%}
	
			{%- comment -%}
			Reading time based on 200 words per minute
			Add 1 min. to time to make it more accurate and to avoid 0 ("divided_by" filter is integer division)
			{%- endcomment -%}
			{%- assign doc_readtime = my_doc.content | number_of_words | divided_by: 200 | plus: 1 -%}
			<div class="doc-readtime">{{ doc_readtime }} min. read</div>

			{%- if my_doc.updated -%}
			<div class="doc-updated">Updated <time datetime="{{ my_doc.updated | date_to_xmlschema }}">{{ my_doc.updated | date: site.date_format }}</time></div>
			{%- endif -%}
	
		</div>
		
		{%- if my_doc.location and site.google_static_maps -%}
		{%- comment -%} No check of location; Google parses addresses and coordinates {%- endcomment -%}
		<div class="doc-location doc-meta">
			<img src="https://maps.googleapis.com/maps/api/staticmap?markers={{ my_doc.location | url_encode }}&zoom=6&size=640x274&scale=2&key={{ site.google_static_maps }}" alt="Located at {{ my_doc.location | escape }}">
		</div>
		{%- endif -%}

	</header>

	<div class="doc-content">

		{%- capture doc_content -%}{{ content }}{%- endcapture -%}
		{%- capture my_content -%}{%- include filter-content.html my_content=my_doc.content -%}{%- endcapture -%}
		{{ my_content | strip }}

	</div>
	
	<div class="doc-footer">

		{%- comment -%} Reply by email {%- endcomment -%}
		{%- if doc_author_email -%}
		<div class="doc-reply doc-meta"><a href="mailto:{{ doc_author_email }}?subject=Re: {{ my_doc.title | strip_html | normalize_whitespace | escape }}"><svg class="icon icon-email" width="32" height="32"><use xlink:href="#icon-email"></use></svg>Reply</a></div>
		{%- endif -%}

		{%- comment -%} Link to GitHub history {%- endcomment -%}
		{%- if site.author.github -%}
		<div class="doc-history doc-meta"><a href="{{ site.github.repository_url }}/commits/master/{{ my_doc.path }}"><svg class="icon icon-github" width="32" height="32"><use xlink:href="#icon-github"></use></svg>History</a></div>
		{%- endif -%}

	</div>

</article>
