{%- comment -%}

Include post/blog article
- Pass in document (optional)

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- comment -%} Fetch page in site.pages to coerce rendered content {%- endcomment -%}
	{%- assign doc = site.pages | where: "permalink", page.permalink | first -%}
{%- endif -%}

{%- comment -%} Build date, adding permalink if this page is not it {%- endcomment -%}

{%- capture doc_date -%}{%- include doc-date.html doc=doc -%}{%- endcapture -%}
{%- capture doc_date -%}<time datetime="{{ doc_date }}" title="{{ doc_date | date_to_rfc822 }}" class="dt-published">{{ doc_date | date: site.date_format }}</time>:{%- endcapture -%}
{%- if doc.url != page.url -%}
	{%- capture doc_date -%}<a href="{{ doc.url | absolute_url }}" rel="bookmark" class="u-url">{{ doc_date }}</a>{%- endcapture -%}
{%- endif -%}

<hr class="main-rule rule-article">

<article id="post-{{ doc.slug }}" class="post-doc main-article h-entry" role="document" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="article-header">
		<div class="doc-date doc-meta">{{ doc_date }}</div>
	</header>
	<div class="article-content e-content">

		{%- include content-reference.html reference=doc.reference -%}

		{%- include doc-content.html doc=doc -%}

	</div>
</article>
