{%- comment -%}

Include page article
- Pass in document

{%- endcomment -%}

{%- assign my_doc = include.my_doc -%}

{%- capture doc_title -%}{%- include filter-title.html my_doc=my_doc -%}{%- endcapture -%}

<article id="page-{{ my_doc.title | slugify }}" class="page-doc main-doc h-entry" role="document">
	<header class="doc-header">
		<h1 class="doc-title doc-meta">{{ doc_title | strip }}</h1>
	</header>
	<div class="doc-content">

		{%- capture content -%}{%- include content.html my_doc=my_doc -%}{%- endcapture -%}

		{{ content }}

	</div>
</article>
