{%- comment -%}

Include list of docs which link back to this page
- Pass in ID

{%- endcomment -%}

{%- assign my_uid = include.my_uid -%}

{%- comment -%} Exclude posts (until it is resolved how to mix posts/notes in one list) {%- endcomment -%}

{%- assign my_docs = site.documents | where_exp: "doc", "doc.uid != my_uid" | where_exp: "doc", "doc.collection != 'posts'" | where_exp: "doc", "doc.content contains my_uid" | sort: "uid", "first" | reverse -%}

{%- if my_docs.size > 0 -%}
<aside class="doc-links main-aside" role="complementary">
	<h2 class="aside-title">What Links Here…</h2>
	<div class="aside-content">

		{%- include list-docs.html my_docs=my_docs -%}

	</div>
</aside>
{%- endif -%}
