{%- comment -%}

Include tags for this document
Doesn't display tags which only match one document (this one)
- Pass in tags

{%- endcomment -%}

{%- assign my_tags = include.my_tags -%}

{%- assign useful_tags = "" | split: "," -%}

{%- for tag in my_tags -%}
	{%- assign docs = site.documents | where_exp: "doc", "doc.tags contains tag" -%}
	{%- if docs.size > 1 -%}
		{%- assign useful_tags = useful_tags | push: tag -%}
	{%- endif -%}
{%- endfor -%}
{%- assign useful_tags = useful_tags | uniq | sort_natural -%}

{%- if useful_tags.size > 0 -%}
<aside class="doc-tags main-aside" role="complementary">
	<h2 class="aside-title">More On…</h2>
	<div class="aside-content">
		{%- include list-tags.html my_tags=useful_tags -%}
	</div>
</aside>
{%- endif -%}
