{%- comment -%}

Include list of docs which link back to this page
- Pass in ID

{%- endcomment -%}

{%- assign my_uid = include.my_uid -%}

{%- assign docs = site.documents | where_exp: "doc", "doc.uid != my_uid" | where_exp: "doc", "doc.content contains my_uid" | sort: "uid", "first" | reverse -%}

{%- if docs.size > 0 -%}
<aside class="doc-links main-aside" role="complementary">
	<h1 class="aside-title">What Links Here…</h1>
	<div class="aside-content">

		{%- include list-notes.html my_docs=docs -%}

	</div>
</aside>
{%- endif -%}
