{%- comment -%}

Include list of docs which link back to this page
- Pass in ID

{%- endcomment -%}

{%- assign uid = include.uid -%}

{%- assign docs = site.documents | where_exp: "doc", "doc.uid != uid" | where_exp: "doc", "doc.content contains uid" | sort: "uid", "first" | reverse -%}

{%- if docs.size > 0 -%}
<aside class="doc-links main-aside" role="complementary">
	<h1 class="aside-title">What Links Here…</h1>
	<div class="aside-content">

		{%- include doc-list.html docs=docs -%}

	</div>
</aside>
{%- endif -%}
