{%- comment -%}

Include site search

{%- endcomment -%}

<aside id="search" class="site-search site-aside">
	<h3 class="aside-title">Search</h3>
	<div class="aside-content">
		<form action="https://google.com/search" target="_blank" method="GET">
			<input type="search" name="q" id="q">
			<input type="hidden" name="as_sitesearch" value="{{ site.url }}">
			<button type="submit"><svg class="icon icon-search" width="32" height="32"><use xlink:href="#icon-search"></use></svg></button>
		</form>
		<p><small class="-dim -right">(Opens in Google Search)</small></p>
	</div>
</aside>
