{%- comment -%}

Include featured image (intended for feeds)
- Pass in document (optional)

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- assign doc = page -%}
{%- endif -%}

{%- if doc.image -%}

{%- capture doc_image -%}
{%- if doc.image.description -%}
<figure><img src="{{ doc.image.path | absolute_url }}" alt="{{ doc.image.description }}" /><figcaption>{{ doc.image.description }}</figcaption></figure>
{%- else -%}
<img src="{{ doc.image.path | default: doc.image | absolute_url }}" alt="" />
{%- endif -%}
{%- endcapture -%}

{{- doc_image -}}

{%- endif -%}
