{%- comment -%}

Include document title

Modify titles if title is not explicitly set
Default titles: explicit title, reference title, reduced excerpt (in that order) (ignores filename)
Convert quotes to typographer's (curly) quotes

- Pass in document (optional)
- Pass in boolean filter (optional)

TODO:
- Add ordinals filter

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- comment -%} Fetch page in site.pages to coerce rendered content {%- endcomment -%}
	{%- assign doc = site.pages | where: "permalink", page.permalink | first -%}
{%- endif -%}

{%- assign doc_title = doc.title | strip_html | normalize_whitespace | strip -%}

{%- comment -%}
Title defaults to avoid slug-for-a-title
{%- endcomment -%}

{%- assign doc_title_slug = doc_title | slugify -%}
{%- if doc_title_slug == doc.slug -%}
	{%- capture doc_title -%}
		{%- if doc.reference.title -%}
			“{{ doc.reference.title }}”
		{%- else -%}
			{%- include doc-excerpt.html doc=doc excerpt_length=70 -%}
		{%- endif -%}
	{%- endcapture -%}
{%- endif -%}

{%- comment -%}
Quotes treatment
{%- endcomment -%}

{%- assign doc_title = doc_title | smartify -%}

{%- comment -%}

Filters:
- Avoid typographical orphans and widows
- Add span tags around titles and subtitles (split on colon)

{%- endcomment -%}

{%- if include.filter == true -%}

	{%- comment -%}
	Orphans and widows treatment
	{%- endcomment -%}
	
	{%- assign orphans = 3 -%}
	{%- assign widows = 3 -%}
	
	{%- if doc_title contains " " -%}
	
		{%- assign title_parts = doc_title | split: " " -%}
		{%- assign new_title = title_parts | first -%}
	
		{%- for part in title_parts offset: 1 -%}
	
			{%- comment -%} Replace space with non-breaking space {%- endcomment -%}
	
			{%- assign replacement = " " -%}
			{%- assign last_character = title_parts[forloop.index0] | split: "" | last -%}
	
			{%- if forloop.index < orphans or forloop.rindex < widows -%}
	
				{%- comment -%} Don't replace if preceded by punctuation break {%- endcomment -%}
				{%- unless last_character == ":" or last_character == "." or last_character == "!" or last_character == "?" -%}
					{%- assign replacement = "&nbsp;" -%}
				{%- endunless -%}
	
			{%- endif -%}
			{%- assign new_title = new_title | append: replacement | append: part -%}
	
		{%- endfor -%}
	
		{%- assign doc_title = new_title -%}
	
	{%- endif -%}
	
	{%- comment -%}
	Make subtitle (split on other punctuation besides colon?)
	{%- endcomment -%}
	
	{%- assign subtitle_demarcator = ": " -%}
	
	{%- if doc_title contains subtitle_demarcator -%}
	
		{%- assign title_parts = doc_title | split: subtitle_demarcator -%}
		{%- assign previous_parts = "" | split: "," | push: title_parts.first -%}
		{%- assign remaining_parts = title_parts | shift -%}
		{%- assign subtitle_part = "" -%}
	
		{%- for part in title_parts offset: 1 -%}
	
			{%- comment -%} Ignore if colon is nested within quotes {%- endcomment -%}
		
			{%- assign previous_content = previous_parts | join: '' -%}
	
			{%- if previous_content contains '‘' or previous_content contains '“' -%}
	
				{%- assign single_quote_opened = previous_content | split: '‘' | shift | size -%}
				{%- assign double_quote_opened = previous_content | split: '“' | shift | size -%}
				
				{%- assign single_quote_closed = previous_content | split: '’' | shift | size -%}
				{%- assign double_quote_closed = previous_content | split: '”' | shift | size -%}
	
				{%- comment -%}
				Check if string ends with quotes to get accurate count
				No array item is added by Liquid split filter for string-final match
				{%- endcomment -%}
	
				{%- assign last_character = previous_content | split: '' | last -%}
				{%- if last_character == '’' -%}
					{%- assign single_quote_closed = single_quote_closed | plus: 1 -%}
				{%- elsif last_character == "”" -%}
					{%- assign double_quote_closed = double_quote_closed | plus: 1 -%}
				{%- endif -%}
	
				{%- unless (single_quote_opened <= single_quote_closed) and (double_quote_opened <= double_quote_closed) -%}
					{%- assign previous_parts = previous_parts | push: part -%}
					{%- assign remaining_parts = remaining_parts | shift -%}
					{%- continue -%}
				{%- endunless -%}
	
			{%- endif -%}
	
			{%- assign doc_title = previous_parts | join: subtitle_demarcator -%}
			{%- assign subtitle_part = remaining_parts | join: subtitle_demarcator -%}
			{%- break -%}
	
		{%- endfor -%}
	
		{%- if subtitle_part != empty -%}
			{%- assign subtitle_part = subtitle_part | prepend: '<span class="subtitle">' | append: '</span>' -%}
			{%- assign doc_title = doc_title | prepend: '<span class="title">' | append: '</span>' -%}
			{%- assign doc_title = doc_title | append: '<span class="title-separator">' | append: subtitle_demarcator | append: '</span>' -%}
			{%- assign doc_title = doc_title | append: subtitle_part -%}
		{%- endif -%}
	
	{%- endif -%}

{%- endif -%}

{{- doc_title -}}
