{%- comment -%}

Include document content

Extend kramdown with custom markdown filters.
Split content by blank lines: "\n\n" (a kramdown "block boundary").
Only replace content contained within single block.
Order of filters in config takes precedence in conflict (if two replacements overlap).

(This is a circus without the functions and regular expressions of a plugin.)

- Pass in document (optional)
- Pass in boolean render to markdownify content (optional)
- Pass in boolean reference to prepend reference include (optional)
- Set filters in `_config.yml` (in order of priority), for example:
	content_filters:
	- wiki
	- href
	- highlight
	- figure
	- break

To extend with new filters:
- Add markdown name to content_filters in config.yml
- Add *_markdown variable, an array of any number of text to capture
- Push *_markdown as a "when" condition to site_markdown (as named in config)
- Add the custom filter handling and output in the loop as a "when" condition in "The filters"

TODO:
- Check if part being replaced contains any open html elements
- Find another way to express block boundary besides literal newlines?
- Provide a way to short-circuit the loop once enough matches have been replaced
- Other filter ideas:
	- Video and audio links?
	- File transclusion (MMD style or iA Writer?)
	- Inline hashtags as links to tags (split on space; wrap space-separated tag phrases in # or quotes?)

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- assign doc = page -%}
{%- endif -%}
{%- assign doc_content = doc.content -%}

{%- comment -%} Render content (necessary for some documents like pages) {%- endcomment -%}

{%- if include.render -%}
	{%- assign doc_content = doc_content | markdownify -%}
{%- endif -%}

{%- assign break_markdown     = '<p>+++</p>'                            | split: '...' -%}
{%- assign figure_markdown    = '<p><img src="..." alt="..."... /></p>' | split: '...' -%}
{%- assign highlight_markdown = '::...::'                               | split: '...' -%}
{%- assign href_markdown      = '<a href="...">'                        | split: '...' -%}
{%- assign wiki_markdown      = '[[...]]'                               | split: '...' -%}

{%- assign site_markdown = '' | split: ',' -%}
{%- for content_filter in site.content_filters -%}
	{%- comment -%} If this filter exists in config {%- endcomment -%}
	{%- case content_filter -%}
	{%- when 'break' -%}
		{%- assign site_markdown = site_markdown | push: break_markdown -%}
	{%- when 'figure' -%}
		{%- assign site_markdown = site_markdown | push: figure_markdown -%}
	{%- when 'highlight' -%}
		{%- assign site_markdown = site_markdown | push: highlight_markdown -%}
	{%- when 'href' -%}
		{%- assign site_markdown = site_markdown | push: href_markdown -%}
	{%- when 'wiki' -%}
		{%- assign site_markdown = site_markdown | push: wiki_markdown -%}
	{%- endcase -%}
{%- endfor -%}

{%- if site_markdown.size > 0 -%}

	{%- comment -%} Basic check for match in content {%- endcomment -%}

	{%- assign content_markdown = '' | split: ',' -%}
	{%- for markdown in site_markdown -%}
		{%- if doc_content contains markdown.first -%}
			{%- assign content_markdown = content_markdown | push: markdown -%}
		{%- endif -%}
	{%- endfor -%}

	{%- if content_markdown.size > 0 -%}

		{%- comment -%} Block boundary is 2 newlines (a blank line) {%- endcomment -%}

		{%- assign block_boundary = "

" -%}
		{%- assign content_blocks = doc_content | split: block_boundary -%}
		{%- assign new_blocks = '' | split: ',' -%}

		{%- comment -%} Walk through blocks to make filter more robust and avoid inline elements illegally spanning blocks {%- endcomment -%}

		{%- for block in content_blocks -%}

			{%- assign block_markdown = '' | split: ',' -%}
			{%- assign new_block = block -%}

			{%- for markdown in content_markdown -%}

				{%- comment -%}
				Basic check for match in block
				Check for all marks in markdown to prevent false positives
				{%- endcomment -%}

				{%- assign block_match = true -%}
				{%- for mark in markdown -%}
					{%- unless block contains mark -%}
						{%- assign block_match = false -%}
						{%- break -%}
					{%- endunless -%}
				{%- endfor -%}
				
				{%- if block_match -%}
					{%- assign block_markdown = block_markdown | push: markdown -%}
				{%- endif -%}

			{%- endfor -%}

			{%- if block_markdown.size > 0 -%}

				{%- for markdown in block_markdown -%}

					{%- comment -%}
					
					First split

					Remove empty item added by Liquid split filter on string-initial match

					{%- endcomment -%}

					{%- assign block_parts = new_block | split: markdown.first | compact -%}
					
					{%- comment -%} Get number of parts, explicitly set to 1 if block matched entirely (empty parts cannot be sized) {%- endcomment -%}

					{%- assign block_parts_size = block_parts.size -%}
					{%- if block == markdown.first -%}
						{%- assign block_parts_size = 1 -%}
					{%- endif -%}

					{%- comment -%} Keep past parts for Code check {%- endcomment -%}

					{%- assign previous_parts = '' | split: ',' -%}

					{%- for i in (1..block_parts_size) -%}

						{%- comment -%} Allow empty parts (entirely matched blocks) {%- endcomment -%}

						{%- if new_block == markdown.first -%}
							{%- assign part = '' -%}
						{%- else -%}
							{%- assign part = block_parts[forloop.index0] -%}
						{%- endif -%}

						{%- comment -%}
						
						Code check
						
						Check if part is nested in code (previous open `<code>` but no closing `</code>`)
						Any markdown demarcated by code tag is not intended for rendering
						Must check all previous content because `pre > code` can contain an unknown number of blocks

						{%- endcomment -%}

						{%- assign previous_content = new_blocks | concat: previous_parts | join: '' -%}

						{%- if previous_content contains '<code>' or previous_content contains '<code ' -%}

							{%- assign code_opened_one = previous_content | split: '<code>' | shift | size -%}
							{%- assign code_opened_two = previous_content | split: '<code ' | shift | size -%}
							{%- assign code_opened = code_opened_one | plus: code_opened_two -%}
							{%- assign code_closed = previous_content | split: '</code>' | shift | size -%}

							{%- comment -%}
							Check if previous content ends with code to get accurate count
							No array item is added by Liquid split filter for string-final match
							Slice previous_content from end on size of strings:
							- '<code>' and '<code ': 6
							- '</code>': 7
							{%- endcomment -%}

							{%- assign code_opened_end = previous_content | slice: -6, 6 -%}
							{%- assign code_closed_end = previous_content | slice: -7, 7 -%}

							{%- if code_opened_end == '<code>' or code_opened_end == '<code ' -%}
								{%- assign code_opened = code_opened | plus: 1 -%}
							{%- elsif code_closed_end == '</code>' -%}
								{%- assign code_closed = code_closed | plus: 1 -%}
							{%- endif -%}

							{%- unless code_opened == code_closed -%}
								{%- assign previous_parts = previous_parts | push: part -%}
								{%- continue -%}
							{%- endunless -%}

						{%- endif -%}

						{%- comment -%}
						
						Second split
						
						Redundant for identical opening and closing marks like highlight
						Ignore if only one mark in markdown (like "break")
						Leave subsequent splits for individual filters
						
						{%- endcomment -%}

						{%- assign fragment = part -%}
						{%- unless markdown.size == 1 or markdown.first == markdown.last -%}
							{%- assign fragment = fragment | split: markdown.last | first -%}
						{%- endunless -%}
						
						{%- comment -%} Continue if we've captured something or the entire block {%- endcomment -%}

						{%- if fragment.size > 0 or new_block == markdown.first -%}

							{%- comment -%}
							
							TODO: HTML check
							
							Check if part contains any open or unmatched html elements without closing tag
							
							To avoid overlapping replacements (and illegal nesting), priority goes to order of markdown set in config
						
							{%- endcomment -%}

							{%- comment -%} Assemble matched content string {%- endcomment -%}

							{%- assign content_find = fragment | prepend: markdown.first -%}

							{%- unless markdown.size == 1 -%}
								{%- assign content_find = content_find | append: markdown.last -%}
							{%- endunless -%}

							{%- comment -%} Fallback to replace identical string {%- endcomment -%}

							{%- assign content_replace = content_find -%}

							{%- comment -%}
							
							The filters
							
							{%- endcomment -%}

							{%- case markdown -%}

							{%- when break_markdown -%}

								{%- comment -%}
								
								Break filter

								Replace paragraph block with <hr> with custom class for section breaks
								
								{%- endcomment -%}

								{%- capture content_replace -%}

									<hr class="section-break">

								{%- endcapture -%}

							{%- when figure_markdown -%}

								{%- comment -%}
								
								Figure filter

								Split on remaining marks: closing src with opening alt attribute, and closing alt attribute
								Keep whatever extra attributes may have been added to image 
								Rely on predictable output of kramdown 
								Avoid multiple inline images
								
								{%- endcomment -%}

								{%- assign image_fragments_one = fragment | split: figure_markdown[1] -%}
								{%- assign image_src           = image_fragments_one | first -%}
								{%- assign image_fragments_two = image_fragments_one | shift | join: figure_markdown[1] | split: figure_markdown[2] -%}
								{%- assign image_alt           = image_fragments_two | first -%}
								{%- assign image_attributes    = image_fragments_two | shift | join: figure_markdown[2] | split: figure_markdown.last | first -%}

								{%- comment -%} Assume that no description means figure wasn't intended {%- endcomment -%}

								{%- if image_src.size > 0 and image_alt.size > 0 -%}

									{%- capture content_replace -%}

										<figure><img src="{{ image_src }}" alt="{{ image_alt }}"{{ image_attributes }}><figcaption>{{ image_alt }}</figcaption></figure>

									{%- endcapture -%}

								{%- endif -%}

							{%- when highlight_markdown -%}

								{%- comment -%}
								
								Highlight (<mark>) filter

								That's it.
								
								{%- endcomment -%}

								{%- capture content_replace -%}

									<mark>{{ fragment }}</mark>

								{%- endcapture -%}

							{%- when href_markdown -%}

								{%- comment -%}
								
								Href filter
								
								Replace all <a> href relative URLs with absolute URLs
								Syndicated content will then contain valid links back to original post
								(Jekyll's `absolute_url` filter works but causes errors here)
								
								{%- endcomment -%}

								{%- if fragment contains '://' -%}
									{%- continue -%}
								{%- endif -%}

								{%- assign absolute_fragment = fragment -%}
								{%- assign absolute_url      = site.url | append: site.baseurl -%}
								{%- assign fragment_start    = fragment | slice: 0, 1 -%}

								{%- unless fragment_start == '/' -%}
									{%- assign absolute_fragment = absolute_fragment | prepend: '/' | prepend: doc.url -%}
								{%- endunless -%}

								{%- assign absolute_fragment = absolute_fragment | prepend: absolute_url -%}

								{%- capture content_replace -%}

									<a href="{{ absolute_fragment }}">

								{%- endcapture -%}

							{%- when wiki_markdown -%}

								{%- comment -%}
								
								Wiki filter

								Assume note IDs are first 12 digits
								Keep any remaining text after ID for optional link text
								Get referenced note url and title
								If no ID match, try to match by title
								Skip if referenced note not found
								
								{%- endcomment -%}

								{%- assign ref_uid    = fragment | slice: 0, 12 -%}
								{%- assign ref_phrase = fragment | replace_first: ref_uid, '' | lstrip -%}
								{%- assign ref_doc    = site.documents | where: "uid", ref_uid  | first -%}

								{%- if ref_doc.url == nil -%}

									{%- comment -%} Plan B: try to match by title {%- endcomment -%}
								
									{%- assign ref_phrase = fragment -%}
									{%- assign ref_doc = site.documents | where: "title", fragment | first -%}

									{%- comment -%} Ditch if still no match {%- endcomment -%}

									{%- if ref_doc.url == nil -%}
										{%- assign previous_parts = previous_parts | push: part -%}
										{%- continue -%}
									{%- endif -%}
								
								{%- endif -%}

								{%- capture content_replace -%}

									<a href="{{ ref_doc.url | absolute_url }}" class="doc-link" title="{{ ref_doc.title }}">{{ ref_phrase | default: ref_doc.title }}</a>

								{%- endcapture -%}

							{%- endcase -%}

							{%- comment -%}

							And replace. 

							Use replace instead of concatenation so that we continue to iterate over same block with all markdown

							{%- endcomment -%}

							{%- assign new_block = new_block | replace: content_find, content_replace -%}

						{%- endif -%}
						
						{%- assign previous_parts = previous_parts | push: part -%}

					{%- endfor -%}

				{%- endfor -%}

			{%- endif -%}

			{%- comment -%} Assemble content blocks {%- endcomment -%}

			{%- assign new_blocks = new_blocks | push: new_block -%}

		{%- endfor -%}

		{%- comment -%} Reassemble with empty lines {%- endcomment -%}

		{%- assign doc_content = new_blocks | join: block_boundary -%}

	{%- endif -%}

{%- endif -%}

{{- doc_content -}}
