{%- comment -%}

Include document date

Use dates that are set explicitly (in metadata) and implicitly (post filenames)
Use uid to replace dates that set to site build time (default for pages, collections)
Use uid to replace times that are 0 (such as implicitly set posts) unless date differs from uid
Datetime can be parsed from uid to avoid redundant metadata
Assume 12-digit uid string (YYYYMMDDhhmm or %Y%m%d%H%M)
Format date to ISO8601 standard for feeds and html "datetime" attribute

- Pass in document (optional)

TODO:
- Remove date_to_xmlschema from other places
- Add timezone from config

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- assign doc = page -%}
{%- endif -%}

{%- if doc.uid != nil -%}

	{%- comment -%} Parse datetime from uid {%- endcomment -%}

	{%- assign doc_uid = doc.uid | strip -%}

	{%- assign uid_year   = doc_uid | slice:  0, 4 -%}
	{%- assign uid_month  = doc_uid | slice:  4, 2 -%}
	{%- assign uid_day    = doc_uid | slice:  6, 2 -%}
	{%- assign uid_hour   = doc_uid | slice:  8, 2 -%}
	{%- assign uid_minute = doc_uid | slice: 10, 2 -%}

	{%- capture uid_datetime -%}
		{{ uid_year }}-{{ uid_month }}-{{ uid_day }} {{ uid_hour }}:{{ uid_minute }}
	{%- endcapture -%}
	{%- assign uid_datetime = uid_datetime | strip -%}

	{%- comment -%} Compare date and parsed uid date {%- endcomment -%}

	{%- assign uid_date = uid_datetime | date: "%Y-%m-%d" -%}
	{%- assign uid_time = uid_datetime | date: "%H:%M" -%}
	{%- assign doc_date = doc.date | date: "%Y-%m-%d" -%}
	{%- assign doc_time = doc.date | date: "%H:%M" -%}

	{%- comment -%} Use uid datetime for docs without dates (default site build time) {%- endcomment -%}

	{%- if doc.date == site.time -%}

		{%- assign doc_datetime = uid_datetime -%}

	{%- comment -%}
	Use uid time for posts without time
	(Implicit date from filename or explicit date in metadata without time)
	Comparing dates for edge case of explicitly set date different from uid with time of midnight
	{%- endcomment -%}

	{%- elsif doc_time == "00:00" and doc_date == uid_date -%}
	
		{%- assign doc_datetime = doc_date | append: " " | append: uid_time -%}

	{%- else -%}
	
		{%- assign doc_datetime = doc.date -%}

	{%- endif -%}

{%- else -%}

	{%- assign doc_datetime = doc.date -%}

{%- endif -%}

{{- doc_datetime | date_to_xmlschema -}}
