{%- comment -%}

Filter excerpt
Roll our own excerpt in order to use custom content filter
- Pass in unrendered content
- Capture this include and use "strip" filter to remove whitespace.

{%- endcomment -%}

{%- assign my_content = include.my_content | markdownify | strip_html | strip -%}

{%- comment -%} Trim to first string after separator {%- endcomment -%}
{%- assign my_content = my_content | split: site.excerpt_separator | first -%}

{%- comment -%} Filter as content {%- endcomment -%}
{%- capture my_excerpt -%}{%- include filter-content.html my_content=my_content -%}{%- endcapture -%}

{{ my_excerpt | strip_html | normalize_whitespace | truncate: site.excerpt_length | default: 140 }}
