{%- comment -%}

Filter title

Modify titles if title is not explicitly set
Default titles: explicit title, reference title, reduced excerpt (in that order) (ignores filename)
Convert quotes to typographer's (curly) quotes

Advanced: Avoid typographical orphans and widows and provide way to style titles and subtitles (split on colon)

- Pass in full document (page)

TODO:
- Add ordinals filter

{%- endcomment -%}

{%- assign my_doc = include.my_doc -%}
{%- assign my_title = my_doc.title | strip_html | normalize_whitespace | strip -%}

{%- comment -%}
Title defaults to avoid slug-for-a-title
{%- endcomment -%}

{%- assign my_title_slug = my_title | slugify -%}
{%- if my_title_slug == my_doc.slug -%}
	{%- capture my_title -%}
		{%- if my_doc.reference.title -%}
			“{{ my_doc.reference.title }}”
		{%- else -%}
			{%- include filter-excerpt.html my_doc=my_doc excerpt_length=70 -%}
		{%- endif -%}
	{%- endcapture -%}
{%- endif -%}

{%- comment -%}
Quotes treatment
{%- endcomment -%}

{%- assign my_title = my_title | smartify -%}

{%- comment -%}
Advanced filters
{%- endcomment -%}

{%- if include.advanced -%}

	{%- comment -%}
	Orphans and widows treatment
	{%- endcomment -%}
	
	{%- assign orphans = 3 -%}
	{%- assign widows = 3 -%}
	
	{%- if my_title contains " " -%}
	
		{%- assign title_parts = my_title | split: " " -%}
		{%- assign new_title = title_parts | first -%}
	
		{%- for part in title_parts offset: 1 -%}
	
			{%- comment -%} Replace space with non-breaking space {%- endcomment -%}
	
			{%- assign replacement = " " -%}
			{%- assign last_character = title_parts[forloop.index0] | split: "" | last -%}
	
			{%- if forloop.index < orphans or forloop.rindex < widows -%}
	
				{%- comment -%} Don't replace if preceded by punctuation break {%- endcomment -%}
				{%- unless last_character == ":" or last_character == "." or last_character == "!" or last_character == "?" -%}
					{%- assign replacement = "&nbsp;" -%}
				{%- endunless -%}
	
			{%- endif -%}
			{%- assign new_title = new_title | append: replacement | append: part -%}
	
		{%- endfor -%}
	
		{%- assign my_title = new_title -%}
	
	{%- endif -%}
	
	{%- comment -%}
	Make subtitle (split on other punctuation besides colon?)
	{%- endcomment -%}
	
	{%- assign subtitle_demarcator = ": " -%}
	
	{%- if my_title contains subtitle_demarcator -%}
	
		{%- assign title_parts = my_title | split: subtitle_demarcator -%}
		{%- assign previous_parts = "" | split: "," | push: title_parts.first -%}
		{%- assign remaining_parts = title_parts | shift -%}
		{%- assign subtitle = "" -%}
	
		{%- for part in title_parts offset: 1 -%}
	
			{%- comment -%} Ignore if colon is nested within quotes {%- endcomment -%}
		
			{%- assign previous_content = previous_parts | join: '' -%}
	
			{%- if previous_content contains '‘' or previous_content contains '“' -%}
	
				{%- assign quotes_opened_one = previous_content | split: '‘' | shift | size -%}
				{%- assign quotes_opened_two = previous_content | split: '“' | shift | size -%}
				
				{%- assign quotes_closed_one = previous_content | split: '’' | shift | size -%}
				{%- assign quotes_closed_two = previous_content | split: '”' | shift | size -%}
	
				{%- comment -%}
				Check if string ends with quotes to get accurate count
				No array item is added by Liquid split filter for string-final match
				{%- endcomment -%}
	
				{%- assign last_character = previous_content | split: '' | last -%}
				{%- if last_character == '’' -%}
					{%- assign quotes_closed_one = quotes_closed_one | plus: 1 -%}
				{%- elsif last_character == "”" -%}
					{%- assign quotes_closed_two = quotes_closed_two | plus: 1 -%}
				{%- endif -%}
	
				{%- unless (quotes_opened_one <= quotes_closed_one) and (quotes_opened_two <= quotes_closed_two) -%}
					{%- assign previous_parts = previous_parts | push: part -%}
					{%- assign remaining_parts = remaining_parts | shift -%}
					{%- continue -%}
				{%- endunless -%}
	
			{%- endif -%}
	
			{%- assign my_title = previous_parts | join: subtitle_demarcator -%}
			{%- assign subtitle = remaining_parts | join: subtitle_demarcator -%}
			{%- break -%}
	
		{%- endfor -%}
	
		{%- if subtitle != empty -%}
			{%- assign subtitle = subtitle | prepend: '<span class="subtitle">' | append: '</span>' -%}
			{%- assign my_title = my_title | prepend: '<span class="title">' | append: '</span>' -%}
			{%- assign my_title = my_title | append: '<span class="title-separator">' | append: subtitle_demarcator | append: '</span>' -%}
			{%- assign my_title = my_title | append: subtitle -%}
		{%- endif -%}
	
	{%- endif -%}

{%- endif -%}

{{- my_title -}}
