{%- comment -%}

Include post/blog list
Builds out list with date and excerpt
- Pass in documents

{%- endcomment -%}

{%- assign my_docs = include.my_docs -%}

{%- if my_docs.size > 0 -%}
<ol class="post-list">

	{%- for doc in my_docs -%}

	{%- capture doc_preview -%}{%- include filter-excerpt.html my_excerpt=doc.content -%}{%- endcapture -%}

	<li class="post-item posts-collection">
		<a href="{{ doc.url | relative_url }}" rel="bookmark">
			<span class="doc-date">{{ doc.date | date: site.date_format }}</span>
			<span class="doc-preview">{{ doc_preview | strip }}</span>
		</a>
	</li>

	{%- endfor -%}

</ol>
{%- endif -%}
