{%- comment -%}

Include file list
Builds out list with media preview
- Pass in static files

{%- endcomment -%}

{%- assign my_files = include.my_files -%}

{%- if my_files.size > 0 -%}
<ol class="file-list">

	{%- for file in my_files -%}

	<li class="file-item">
		<a href="{{ file.path | relative_url }}">
			{%- case file.extname -%}
			{%- when ".jpg" or ".jpeg" or ".png" or ".gif" or ".pdf" -%}
			<img src="{{ file.path | relative_url }}" alt="{{ file.name | escape }}">
			{%- endcase -%}
		</a>
	</li>

	{%- endfor -%}

</ol>
{%- endif -%}
