{%- comment -%}

Include document list
Builds out list with preview (title or excerpt) and reference (ID or date if post)
- Pass in documents

{%- endcomment -%}

{%- assign my_docs = include.my_docs -%}

{%- if my_docs.size > 0 -%}
<ol class="doc-list">

	{%- for doc in my_docs -%}

	{%- assign doc_title = doc.title | strip -%}
	{%- assign doc_title_slugified = doc_title | slugify -%}

	{%- if doc_title_slugified != doc.slug -%}

	{%- capture doc_preview -%}{%- include filter-title.html my_doc=doc -%}{%- endcapture -%}
	{%- assign preview_class = "doc-name" -%}

	{%- else -%}

	{%- capture doc_preview -%}{%- include filter-excerpt.html my_content=doc.content -%}{%- endcapture -%}
	{%- assign preview_class = "doc-excerpt" -%}

	{%- endif -%}
	
	{%- if doc.collection == "posts" -%}
	
	{%- assign doc_reference = doc.date | date: site.date_format -%}
	{%- assign reference_class = "doc-date" -%}
	
	{%- else -%}

	{%- assign doc_reference = doc.uid -%}
	{%- assign reference_class = "doc-id" -%}
	
	{%- endif -%}
	
	{%- assign collection = site.collections | where_exp: "collection", "collection.label == doc.collection" | first -%}

	<li class="doc-item {{ doc.collection }}-collection"{%- if collection.color -%}{{ " " }}style="--collection-color:{{ collection.color }}"{%- endif -%}>
		<a href="{{ doc.url | absolute_url }}" rel="bookmark">
			<span class="doc-preview {{ preview_class }}">{{ doc_preview | strip }}</span>
			<span class="doc-reference {{ reference_class }}">{{ doc_reference | strip }}</span>
		</a>
	</li>

	{%- endfor -%}

</ol>
{%- endif -%}
