{%- comment -%}

Include document list
Builds out list with preview (title or excerpt) and reference (ID or date if post)
- Pass in documents

Note: mimic this include in script.js search results

{%- endcomment -%}

{%- assign my_docs = include.my_docs -%}

{%- if my_docs.size > 0 -%}
<ol class="doc-list">

	{%- for doc in my_docs -%}

	{%- capture doc_preview -%}{%- include filter-title.html my_doc=doc -%}{%- endcapture -%}

	{%- comment -%} Pick preview class based on logic in filter-title.html... hacky {%- endcomment -%}

	{%- assign doc_title = doc.title | strip_html | normalize_whitespace | strip -%}
	{%- if doc_title_slug == doc.slug -%}
		{%- assign preview_class = "doc-name" -%}
	{%- else -%}
		{%- assign preview_class = "doc-excerpt" -%}
	{%- endif -%}

	{%- if doc.collection == "posts" -%}
		{%- capture doc_date -%}{%- include filter-date.html my_doc=doc -%}{%- endcapture -%}
		{%- assign doc_reference = doc_date | date: site.date_format -%}
		{%- assign reference_class = "doc-date" -%}
	{%- else -%}
		{%- assign doc_reference = doc.uid -%}
		{%- assign reference_class = "doc-id" -%}
	{%- endif -%}
	
	{%- assign collection = site.collections | where_exp: "collection", "collection.label == doc.collection" | first -%}

	<li class="doc-item {{ doc.collection }}-collection">
		<a href="{{ doc.url | absolute_url }}" rel="bookmark">
			<span class="doc-preview {{ preview_class }}">{{ doc_preview }}</span>
			<span class="doc-reference {{ reference_class }}">{{ doc_reference }}</span>
		</a>
	</li>

	{%- endfor -%}

</ol>
{%- endif -%}
