{%- comment -%}

Include tag list
- Pass in tags (optional)
- Pass in boolean "rel" if tags are related to this page (optional)

{%- endcomment -%}

{%- if include.tags -%}
	{%- assign tags = include.tags -%}
{%- else -%}
	{%- assign tags = page.tags -%}
{%- endif -%}

{%- if tags.size > 0 -%}

<ul class="tag-list">
	{%- comment -%}
	NOTE: Tags page url is hard-coded here...
	Also Scripture tags hard-coded here...
	{%- endcomment -%}

	{%- for tag in tags -%}
	{%- if site.data.scripture contains tag -%}
		{%- assign tag_url = site.html_pages | where: "layout", "tags" | where_exp: "html_page", "html_page.collection == nil" | where: "data", "scripture" | map: "url" | first -%}
	{%- else -%}
		{%- assign tag_url = site.html_pages | where: "layout", "tags" | where_exp: "html_page", "html_page.collection == nil" | where_exp: "html_page", "html_page.data == nil" | map: "url" | first -%}
	{%- endif -%}
	
	<li class="tag-item"><a href="{{ tag_url | absolute_url }}#{{ tag | slugify }}" class="tag"{%- if include.rel == true -%}{{ " " }}rel="tag"{%- endif -%}>{{ tag }}</a></li>
	{%- endfor -%}
</ul>

{%- endif -%}
