{%- comment -%}

Include list of docs which link back to the page
Matches reference metadata also (reference.uid or reference)
- Pass in document (optional)

{%- endcomment -%}

{%- if include.doc -%}
	{%- assign doc = include.doc -%}
{%- else -%}
	{%- assign doc = page -%}
{%- endif -%}

{%- assign docs = site.documents | where_exp: "document", "document.uid != doc.uid" | where_exp: "document", "document.content contains doc.uid" -%}
{%- assign docs = site.documents | where_exp: "document", "document.reference == doc.uid" | concat: docs -%}
{%- assign docs = site.documents | where_exp: "document", "document.reference.uid == doc.uid" | concat: docs -%}
{%- assign docs = docs | uniq | sort: "uid", "first" | reverse -%}

{%- if docs.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="doc-links main-aside" role="complementary">
	<h2 class="aside-title">What Links Here…</h2>
	<div class="aside-content">

		{%- include list-docs.html docs=docs -%}

	</div>
</aside>

{%- endif -%}
