{%- comment -%}

Include list of docs which link back to the page
Matches reference metadata also (reference.uid or reference)

{%- endcomment -%}

{%- assign my_docs = site.documents | where_exp: "doc", "doc.uid != page.uid" | where_exp: "doc", "doc.content contains page.uid" -%}
{%- assign my_docs = site.documents | where_exp: "doc", "doc.reference == page.uid" | concat: my_docs -%}
{%- assign my_docs = site.documents | where_exp: "doc", "doc.reference.uid == page.uid" | concat: my_docs -%}
{%- assign my_docs = my_docs | uniq | sort: "uid", "first" | reverse -%}

{%- if my_docs.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="doc-links main-aside" role="complementary">
	<h2 class="aside-title">What Links Here…</h2>
	<div class="aside-content">

		{%- include list-docs.html my_docs=my_docs -%}

	</div>
</aside>

{%- endif -%}
