{%- comment -%}

Include tags for the page
Doesn't display tags which only match one document (this one)

{%- endcomment -%}

{%- assign useful_tags = "" | split: "," -%}

{%- for tag in page.tags -%}
	{%- assign docs = site.documents | where_exp: "document", "document.tags contains tag" -%}
	{%- if docs.size > 1 -%}
		{%- assign useful_tags = useful_tags | push: tag -%}
	{%- endif -%}
{%- endfor -%}
{%- assign useful_tags = useful_tags | uniq | sort_natural -%}

{%- if useful_tags.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="doc-tags main-aside" role="complementary">
	<h2 class="aside-title">More On…</h2>
	<div class="aside-content">
		{%- include list-tags.html tags=useful_tags rel=true -%}
	</div>
</aside>

{%- endif -%}
