{%- comment -%}

Include lists of site pages, collections, archives

{%- endcomment -%}

<hr class="site-rule rule-aside">

<aside id="browse" class="site-browse site-aside">

	{%- comment -%}
	<h2 class="aside-title">Browse</h2>
	{%- endcomment -%}

	{%- comment -%}

	Pages with "menu" metadata
	Use "menu.label" or default to page title
	Use "menu.order" or sort last

	{%- endcomment -%}
	
	{%- assign html_pages = site.html_pages | where_exp: "page", "page.menu" | sort: "menu.order", "last" -%}

	{%- if html_pages.size > 0 -%}
	<section class="browse-pages aside-section">
		<h2 class="aside-title">Browse:</h2>
		<div class="aside-content">
			<ul>
				{%- for html_page in html_pages -%}
	
				{%- assign menu_label = html_page.menu.label | default: html_page.title -%}
	
				<li>
					{%- if html_page.url == page.url -%}
					<span class="doc-name -current">{{ menu_label }}</span>
					{%- else -%}
					<a href="{{ html_page.url | absolute_url }}" class="doc-name" rel="bookmark">{{ menu_label }}</a>
					{%- endif -%}
				</li>
	
				{%- endfor -%}
			</ul>
		</div>
	</section>
	{%- endif -%}

	{%- comment -%}

		Collections

		Include collections with output and an index, and exclude hard-coded "posts"

	{%- endcomment -%}

	{%- assign collections = site.collections | where_exp: "collection", "collection.label != 'posts'" | where: "output", true | sort: "order", "last" -%}

	{%- if collections.size > 0 -%}
	<section class="browse-collections aside-section">
		<h2 class="aside-title">Collections:</h2>
		<div class="aside-content">
			<ul>
				{%- for collection in collections -%}
	
				{%- assign index = site.pages | where_exp: "page", "page.collection == collection.label" | where_exp: "page", "page.layout == 'contents'" | first -%}
	
				<li><a href="{{ index.url | absolute_url }}" class="doc-name">{{ collection.title | default: collection.label }}</a></li>
	
				{%- endfor -%}
			</ul>
		</div>
	</section>
	{%- endif -%}

</aside>
