/* Variables */

// Widths (specify in px for devices)
$width-min:  320px; // ~mobile; site is designed mobile-first!
$width-max: 1280px; // cap

// Colors
$color-bg:      #f5f2df;                  // background: body (cream)
$color-text:    #263d4b;                  // primary: text (dark blue)
$color-text-bg: rgba( $color-text, .2 ); // background: blockquotes, etc. (opaque dark blue)
$color-code:    inherit;                  // text color: code, pre
$color-code-bg: rgba( #fff, .85);         // background: code, pre (opaque white)
$color-accent:  #a6565e;                  // accent: note IDs, collection names (red)
$color-tags:    $color-bg;                // tags text color
$color-tags-bg: $color-accent;            // tags background color
$color-focus:   rgba( #1d9bf6, .85 );     // focus, target outlines (bright blue)
$color-shadow:  $color-text-bg;           // background shadows and modal backdrops

// Fonts (include @font-face in fonts.scss)
// Body font here as default; see "directives" partial for more
$font-body:  "Source Sans", "Source Sans Extended", "Source Sans Pro", sans-serif;
// $font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // someday: system-ui
$font-sizes: (
	"font-size-min": 16px,
	"font-size-max": 20px,
	"width-min":     $width-min,
	"width-max":     $width-max,
);                      // specify in px; called in font-size-fluid
$font-size-small: .875; // unitless factor
$interval: 1.5;         // vertical rhythm
$measure: 32rem;        // 60-70 characters

// Margins
$gap:    1rem * $interval;        // between block elements
$gutter: calc(#{$gap / 3} + 5vw); // page margin/padding, a balance of white-space and width (= 1 gap @320px) (note: $gutter calc gets nested in calc (ok!), so fallback is $gap and provided by directives mixin)

// Borders
$border-style:  solid;
$border-width:  .09375rem;
$border-radius: $border-width;
