/* Variables */

// These variables are the repeated values in this theme.
// It was not designed to be extensible through just these variables.

// TODO: Cap gutter like font-size

// Widths (specify in px for devices; converted to custom property factor in mixins)
$width-min:  320px; // mobile-first!
$width-max: 1280px; // cap (stop responsize font-size and margins)

// Colors
$color-bg:      #f5f2df;                  // background: body (cream)
$color-text:    #263d4b;                  // primary: text (dark blue)
$color-text-bg: rgba( $color-text, .25 ); // background: blockquotes, etc. (opaque dark blue)
$color-code:    inherit;                  // text color: code, pre
$color-code-bg: #fefdfa;                  // background: code, pre (not opaque)
$color-accent:  #a6565e;                  // accent: note IDs, collection names (red)
$color-tags:    $color-bg;                // tags text color
$color-tags-bg: $color-accent;            // tags background color
$color-focus:   rgba( #1d9bf6, .85 );     // focus, target outlines (bright blue)
$color-shadow:  $color-text-bg;           // background shadows and modal backdrops

// Fonts (include @font-face in fonts.scss)
$font-body:  "Source Sans", "Source Sans Extended", "Source Sans Pro", sans-serif; // body font here as default; see "directives" partial for more
$font-sizes: (
	"min":        1rem,
	"responsive": calc(.91666667rem + .41666667vw), // eek! (do the math)
	"max":        1.25rem
);                      // map: font-size at $width-min, responsize size between min and max, cap font-size at $width-max
$font-size-small: .875; // unitless factor
$interval: 1.5;         // vertical rhythm (unitless)
$measure: 32rem;        // 60-70 characters

// Margins
$gap:    1rem * $interval; // between block-level elements
$gutter-sizes: (
	"min":        $gap,
	"responsive": calc(#{$gap / 3} + 5vw),
	"max":       ( $gap * 2.5 )
); // map: margin at $width-min, responsize size between min and max, cap margin at $width-max (used to set custom property --gutter)

// Borders
$border-style:  dotted;
$border-width:  .09375rem;
$border-radius: $border-width;
