// Collection colors (can override color in config, which is added inline in html)

.doc-index,
.doc-date, // TEMP... this one doesn't belong
.doc-id {
	color: $color-1; // fallback for custom properties
	color: var(--collection-color, $color-1);
	a:hover &,
	a:focus &,
	a:active & {
		color: inherit;
	}
}
.collection-item a,
.layout-tags .main-doc .doc-content > p,
.layout-contents .main-doc .doc-content > p {
// 	background-color: $color-1; // fallback for custom properties
// 	@include box-block( var(--collection-color, $color-1), $color-b );
	@include box-block;
}

.collection-list {
	max-width: ( $measure * 1.5 );
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-auto-rows: 1fr;
}

.collection-item {
	margin-left: 0; // override
	&::before {
		display: none;
	}
	.collection-name {
		text-decoration: underline;
	}
	a {
		overflow: hidden;
		height: 100%; // fill row, calc fallback
		height: calc(100% - #{$gap * 2}); // to be precise (content-box height - padding)
		margin: 0; // override box-span
		text-decoration: none; // override, defer to child
		&:hover,
		&:focus,
		&:active {
			color: $color-b;
			background-color: $color-a;
			.collection-name {
				text-decoration: inherit;
			}
		}
	}
}

.collection-name,
.collection-preview {
	display: block;
}
.collection-preview {
	@include font-small;
}
