.main-doc {
	width: 100%; // for flexbox
}

.doc-header,
.doc-content,
.doc-footer {
	@include gutter( .5 ); // split with body
}

.doc-header {
	> * {
		@include measure;
	}
	.doc-meta {
		margin-top: $gap;
	}
	figcaption {
		margin-top: 0; // override
	}
}

.doc-collection {
	@include font-smcp;
// 	color: $color-accent;
	a {
		text-decoration: none;
	}
}

.doc-id {
	// Would make this smcp but Source Sans Pro (unlike Source Serif Pro) doesn't have tnum for smcp
	@include font-feature-settings( lnum, tnum ); // lining, tabular numbers
// 	letter-spacing: .03125em;
	color: $color-accent;
}

.doc-index {
	@include flex;
	max-width: none; // override
	color: $color-accent;
	border-top: $border-width $border-style;
	> .doc-meta {
		width: 50%;
		margin-top: 0; // override
	}
	> :last-child {
		text-align: right;
	}
}

.doc-image {
	max-width: none; // override
	width: 100%;
	> img {
		width: 100%;
		border-radius: ( $border-radius * 2 );
	}
}

.doc-title {
	@include font-size( 1.5 );
	max-width: ( $measure * 1.5 );
// 	text-align: center;
	&:not(:first-child) {
		margin-top: $gap; // fallback for calc
		margin-top: $gutter;
	}
	/*
	.title {}
	.title-separator {}
	.subtitle {
		font-weight: normal;
	}
	*/
}

.doc-byline {
	@include flex;
	@include font-small;
	@include dim;
	> * {
		margin-top: 0; // override
	}
	.doc-author {
		display: none; // hide on single-author site but keep in html for scrapers
	}
}

.doc-content {
	// tomfoolery, no doubt, but gives as much flexibility as possible
	> * {
		@include measure;
	}
	h1 {
		@include font-size( 1.25 );
	}
	h2 {
		@include font-size( 1.125 );
	}
	h3 {
		@include font-size( 1.0625 );
	}
	figure,
	table {
		@include measure( 1.5 );
	}
	iframe {
		@include measure( 1.5 );
		width: 100%;
	}
	* + *,
	li + li > p,
	dd + dd > p {
		margin-top: $gap;
	}
	* + li,
	* + dd,
	dt + dt,
	figcaption,
	li > ul,
	li > ol {
		margin-top: 0; // override, unless there are child <p> (above)
	}
	> .highlighter-rouge {
		max-width: ( $measure + ( $gap * 2 ) );
	}
}

pre + .output,
.highlighter-rouge + .output {
	border: $border-width dotted; // match color of pre?
	position: relative;
	// Downward arrow
	&::before {
		position: absolute;
		content: '';
		width: ( $gap / 3 );
		height: ( $gap / 3 );
		left: 50%;
		bottom: 100%;
		transform: translateX(-50%) rotate(45deg);
		transform-origin: center;
		border: inherit;
		border-top: 0;
		border-left: 0;
// 		border-radius: $border-radius;
	}
	&::after {
		position: absolute;
		content: '';
		left: 50%;
		bottom: 100%;
		transform: translateX(-50%); // absolute center
		height: ( $gap + $border-width );
		border-left: inherit;
	}
}

.ref {
	font-style: normal;
}

// Footnotes
.footnotes {
	@include font-small;
	@extend hr;
	padding-top: ( $gap * 2 );
}

.doc-footer {
	@include flex;
	@include measure;
	@include gutter( .5 );
	margin-top: ( $gap * 1.5 ); // fallback for calc
	margin-top: calc(#{$gutter} + #{$gap * .5}); // in place of padding-top + some
	border-top: $border-width $border-style;
	.doc-meta {
		a {
			white-space: nowrap;
		}
	}
}

.main-aside {
	@include measure;
	@include gutter( .5 ); // split with body
	* + * {
		margin-top: $gap;
	}
	* + li {
		margin-top: 0;
	}
}
