.site-footer {
	@include flex;
	align-items: stretch; // override
// 	border-radius:  0 0 ( $border-radius * 2 ) ( $border-radius * 2 );
// 	background-color: $color-text-bg;
	font-size: $font-size-small * 1rem; // no need to @include font-small to maintain vertical rhythm
	.site-aside {
		flex: 1 1 ( $measure / 3 );
		padding: $gap;
		border-top: $border-width $border-style;
	}
}

.site-aside {
	* + * {
		margin-top: $gap;
	}
	* + li {
		margin-top: 0;
	}
	ol, ul {
		@include list-none;
	}
}

.site-browse {
	@include flex;
	> * {
		flex: 1 1 50%;
		min-width: 7.5rem; // to taste
		margin-top: 0;
		margin-bottom: $gap;
	}
	> :last-child {
		margin-bottom: 0;
	}
}

.site-search {
	form {
		display: flex;
		> * {
			margin-top: 0; // override * + *
		}
	}
	input {
		width: 100%;
	}
	button {
		height: 1.5em;
	}
	.icon-search {
		margin-right: 0; // override .icon
	}
}
