body {
	@include gutter( .5 ); // split with children for more flexibility
	> * {
		@include max-width( $width-max );
	}
}

.site-header {
	@include flex;
	@include gutter( .5 ); // split with body
	a {
		text-decoration: none;
	}
}

.site-title {
	margin-right: $gap;
	a {
		display: inline-block;
		text-align: center;
	}
	span {
		display: block;
		white-space: nowrap;
		&:first-child {
			@include font-smcp;
			transform: translateX(.125em); // tweak
		}
		&:last-child {
			@include font-title;
			@include font-size( 2, 1 );
		}
	}
}

.site-nav {
	margin-top: $gap;
	margin-left: auto; // for flexbox
}

.nav-list {
	@include flex;
}

.nav-item {
	& + & {
		margin-left: $gap; // fallback for calc
		margin-left: $gutter;
	}
	a {
		display: block;
	}
}

.site-main {
	margin-bottom: ( $gap * 2 ); // fallback for calc
	margin-bottom: calc(#{$gutter} + #{$gap}); // in place of .site-footer margin-top
}
