dialog {
	@include gutter;
	position: absolute;
	display: block;
	left: ($gap / 2);
	right: ($gap / 2);
	max-width: $measure;
	min-width: 15.5rem; // 100% @320px ((320 - left - right - padding) / 1rem)
	width: auto; // fallback for fit-content
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-bottom: $gap;
	border: 0;
	border-radius: ( $border-radius * 2 );
	background: $color-bg;
	color: inherit;
	box-shadow: 0 0 calc(#{$gutter} / 2) $color-shadow;
}

.site-modal {
	width: auto;
	.site-aside {
		padding: 0; // override
	}
}

.info-modal {
	.aside-content {
		column-width: 12rem; // to taste
		column-gap: $gap; // fallback for calc
		column-gap: $gutter;
	}
}

.search-modal {
	.aside-header {
		@include sticky;
		@include gutter;
		margin: ( $gap * -1 ); // fallback for calc
		margin: calc(#{$gutter} * -1); // counteract gutter
		border-radius: ( $border-radius * 2 );
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: ( $gap / 2 );
			right: ( $gap / 2 );
			height: ( $gap / 2 );

			// Scrolling hints
			background-image:
				radial-gradient( at top, $color-text-bg, rgba( $color-text-bg, 0 ) 70% );
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: top;
		}
	}
	.aside-content {
// 		margin-top: 0; // for .aside-header
		padding-top: $gap; // fallback for calc
		padding-top: $gutter; // for .aside-header
		&:empty {
			display: none;
		}
	}
	input[type="search"] {
		padding-right: 6rem; // for .results-count
	}
}

.results-count {
	@include dim;
	float: right;
	position: relative;
	top: ( $gap * 2 );
	right: .25rem; // = input padding-right
	pointer-events: none;
}

dialog:not([open]) {
	display: none;
}

dialog::backdrop,
dialog + .backdrop {
	max-width: none; // override
	position: fixed;
	top: -100%; // bleed for momentum scroll
	left: 0;
	right: 0;
	bottom: -100%; // bleed for momentum scroll
	background: $color-shadow;
}

._dialog_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}