dialog {
	position: absolute;
	display: block;
	left: ($gap / 2);
	right: ($gap / 2);
	max-width: $measure;
	min-width: 15.5rem; // 100% @320px ((320 - left - right - padding) / 1rem)
	width: auto; // fallback for fit-content
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-bottom: $gap;
	padding: $gap;
	border: 0;
	border-radius: ( $border-radius * 2 );
	background: $color-bg;
	color: inherit;
	box-shadow: 0 0 calc(#{$gutter} / 2) $color-shadow;
}

.site-modal {
	@include gutter;
	width: auto;
	.site-browse {
		column-count: 2;
		column-gap: $gap;
		> .aside-title {
			column-span: all;
		}
	}
	.site-search {
		input[type="search"] {
			padding-right: 6rem; // for .results-count
		}
	}
}

.results-count {
	@include dim;
	float: right;
	position: relative;
	top: ( $gap * 2 );
	right: .25rem; // = input padding-right
	pointer-events: none;
}

.results-list {
	margin-top: $gutter;
}

dialog:not([open]) {
	display: none;
}

dialog::backdrop,
dialog + .backdrop {
	max-width: none; // override
	position: fixed;
	top: -100%; // bleed for momentum scroll
	left: 0;
	right: 0;
	bottom: -100%; // bleed for momentum scroll
	background: $color-shadow;
}

._dialog_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}