dialog {
	position: absolute;
	display: block;
	left: ($gap / 2);
	right: ($gap / 2);
	max-width: $measure;
	min-width: 15.5rem; // 100% @320px ((320 - left - right - padding) / 1rem)
	width: auto; // fallback for fit-content
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-bottom: $gap;
	padding: $gap;
	border: 0;
	border-radius: ( $border-radius * 2 );
	background: $color-b;
	color: inherit;
	box-shadow: 0 0 $gutter $color-c;
}

.site-modal {
	width: auto;
	padding: $gutter;
	.site-browse {
		column-count: 2;
		column-gap: $gap;
		> .aside-title {
			column-span: all;
		}
	}
	li {
		margin-left: 0;
		&::before {
			display: none;
		}
	}
}

.results-count {
	float: right;
}
.results-list {
	margin-top: $gutter;
}

dialog:not([open]) {
	display: none;
}

dialog::backdrop,
dialog + .backdrop {
	position: fixed;
	top: -100%; // for momentum scroll
	left: 0;
	right: 0;
	bottom: -100%; // for momentum scroll
	background: $color-c;
}

._dialog_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}