.layout-post {
	.site-main {
		@include flex;
	}
	.main-aside {
		flex: 1 1;
		width: ( $measure / 2 );
	}
}

.post-doc {
	margin-top: $gap; // ?
	margin-bottom: $gap; // ?
	.doc-header {
		padding-bottom: 0; // override
	}
	.doc-content {
		padding-top: $gap; // override
	}
}

.doc-date {
	@include font-smcp;
	color: $color-accent;
	a {
		text-decoration: none;
	}
}

/*
.pagination-aside {
	max-width: none;
	flex: 1 1 ( $measure / 2 );
// 	font-size: $font-size-small * 1rem; // no need to @include font-small to maintain vertical rhythm
	a {
		display: flex;
		text-decoration: none; // defer to child
		&:hover,
		&:focus,
		&:active {
			.doc-preview {
				text-decoration: none;
			}
		}
	}
}
*/
