.layout-post {
	.site-main {
		@include flex;
	}
	.main-aside {
// 		flex: 1 1 $measure; // TEMP
	}
}

.post-doc {
	.doc-meta {
		margin-top: 0; // override
	}
	> * {
		&:not(:first-child) {
			padding-top: $gap; // override
		}
		&:not(:last-child) {
			padding-bottom: 0; // override
		}
	}
/*
	margin-top: $gap; // ?
	margin-bottom: $gap; // ?
*/
}

.doc-date {
	@include font-smcp;
	color: $color-accent;
	a {
		text-decoration: none;
	}
}

/*
.pagination-aside {
	max-width: none;
	flex: 1 1 ( $measure / 2 );
// 	font-size: $font-size-small * 1rem; // no need to @include font-small to maintain vertical rhythm
	a {
		display: flex;
		text-decoration: none; // defer to child
		&:hover,
		&:focus,
		&:active {
			.doc-preview {
				text-decoration: none;
			}
		}
	}
}
*/
