.layout-tags .main-doc .doc-content > p {
	@include box-block;
}

.tag-list {
	@include list-none;
	.doc-content & {
		padding-bottom: $gap; // fallback for calc
		padding-bottom: $gutter;
		margin-bottom: $gutter; // no need for fallback; it's already there in * + *
		column-width: 7.5rem; // fit 2 columns @320px (and account for vw rounding errors on padding)
		column-gap: $gap;
		border-bottom: $border-width $border-style;
	}
}

.tag-item {
	.doc-tags .tag-list & {
		display: inline-block;
		margin-right: .25rem;
	}
	.doc-content & {
		display: block;
	}
}

.tag-details {
	.doc-list {
		margin-top: 0; // override
	}
	&:not(:target) .doc-list {
		display: none;
	}
}

.tag-summary {
	font-weight: normal; // override $font-display
}

.tag,
a[href*="/tags/#"] { // not fool-proof without absolute url
	@include box-span( $color-tags-bg, $color-tags );
	padding-top: ( ( 1 - $font-size-small ) * .5rem ); // in place of greater line-height with font-small
	padding-bottom: ( ( 1 - $font-size-small ) * .5rem ); // in place of greater line-height with font-small
	font-size: $font-size-small * 1em;
	white-space: nowrap;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		background-color: $color-text;
	}
}
.tag + .tag {
	margin-left: 0; // override box-span
}