.main-article {
	> * {
		margin-top: var(--gutter);
		margin-bottom: var(--gutter);
	}
}

.post-doc {
	> .article-header {
		margin-bottom: $gap; // override
	}
	
	> .article-content {
		margin-top: $gap; // override
	}
}

.note-doc {
	.article-header {
		margin-top: 0; // move to .doc-title
	}
	
	.doc-title {
		margin-top: var(--gutter);
	}	
}

.article-header {
	> * {
		@include measure;
	}
}

.doc-index {
	@include flex;
	max-width: none; // override
	margin-top: 0; // override

	> :last-child {
		float: right; // fallback for flex
	}
}

.doc-collection {
	@include font-smcp;
	color: $color-accent;
}

.doc-id {
	@include font-smcp; // unfortunately Source Sans Pro (unlike Source Serif Pro) has no tnum for smcp
	color: $color-accent;
}

.doc-image {
	max-width: none; // override
	width: 100%;

	> img {
		width: 100%;
		border-radius: ( $border-radius * 2 );
	}
}

.doc-date { // for posts only
	@include font-smcp;
	color: $color-accent;
}

.doc-title {
	@include font-display;
	@include font-size( 1.5 );
	@include measure( 1.5 );
}

/*
.doc-name{
	@include font-lift;	
}
*/

.doc-byline {
	@include flex;
	@include font-small;
	@include dim;

	.doc-author {
		display: none; // hide on single-author site
	}
}

.article-content {
	@include measure( 1.5 ); // catch floated elements
	
	// Set measure on article children for flexibility: allows pull quotes, etc.
	> * {
		@include measure;
	}

	h1 {
		@include font-size( 1.125 );
	}

	h2 {
		@include font-size( 1.0625 );
	}
	
	.section-break {
		max-width: none;
		+ h1,
		+ h2,
		+ h3 {
			@include pull-title;
		}
	}

	figure,
	table {
		@include measure( 1.5 );
	}

	iframe {
		@include measure( 1.5 );
		width: 100%;
	}
	
	aside:not(.aside-footnote) {
// 		@include pull-quote; // interfering with footnotes
	}
}

// Style .output which follows pre with flow-chart arrow
pre + .output {
	border: $border-width $border-style;
	position: relative;

	// Downward arrow
	&::before {
		position: absolute;
		content: '';
		width: ( $gap / 3 );
		height: ( $gap / 3 );
		left: 50%;
		bottom: 100%;
		transform: translateX(-50%) rotate(45deg);
		transform-origin: center;
		border: inherit;
		border-top: 0;
		border-left: 0;
	}

	&::after {
		position: absolute;
		content: '';
		left: 50%;
		bottom: 100%;
		transform: translateX(-50%); // absolute center
		height: ( $gap + $border-width );
		border-left: inherit;
	}
}

// Document references prepended to content with "reference" metadata
.doc-ref {
	padding-left: $gap;
	padding-right: $gap; // contained within narrow viewports, hangs off into margin at wide
	a {
		display: inline-block;
		* {
			fill: $color-text; // override a:hover * because svg .icon is hanging outside of <a>
		}
	}

	.icon {
		float: left;
		margin-left: ( $gap * -1 );
	}

	.ref {
		display: block;
		font-style: normal; // override cite
	}
}

// Footnotes
.footnotes {
	@include font-small;
	@include rule;
	margin-top: ( $gap * 3 );

	&::after {
		top: ( $gap * -1.5 );
		width: 50%; // override hr
	}
}

// Inline footnote overlays (placed by script.js)
.sup-footnote {
	position: relative;
}

.footnote {
	position: relative;
	z-index: 1001; // above .aside-foonote
}

.aside-footnote {
	@include font-body; // override sup
	@include font-small;
	visibility: hidden; // for accessibility and scripting
	position: absolute;
	z-index: 1000;
	bottom: 100%;
	width: 17rem; // to taste; within 320px
	margin-left: 50%;
	margin-bottom: ( $gap / 2 );
	padding: ( $gap / 2 );
	transform: translateX(-50%);
	color: $color-bg;
	background: $color-text;
	border-radius: $border-radius;
	box-shadow: 0 0 ( $gap / 2 ) $color-text-bg;
	
	--left: 0px; // overridden by script.js if 
	left: var(--left);

	:first-child {
		margin-top: 0; // override because of padding
	}

	:last-child {
		margin-bottom: 0; // override because of padding
	}

	// Extend overlay
	&::before {
		position: absolute;
		content: "";
		z-index: -1;
		top: ( $gap / -1 );
		left: ( $gap / -1 );
		right: ( $gap / -1 );
		bottom: ( $gap / -1 );
	}
	// Cute little speech triangle
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		margin-left: 50%;
		transform: translateX(-50%) rotate(-45deg);
		transform-origin: top left;
		width: .5rem;
		height: .5rem;
		border-bottom-left-radius: inherit;
		background: inherit;
		box-shadow: inherit;
		
		left: calc(var(--left) * -1); // keep cute little speech triangle near source (no IE)
	}

	// Show overlay
	.footnote:hover ~ &,
	.footnote:focus ~ &,
	.footnote:active ~ &,
	&:hover,
	&:focus,
	&:active,
	&:target {
		visibility: visible;
	}

	&:target {
		z-index: 999; // in case of subsequent footnote references
	}
}

.article-footer {
	@include flex;
	@include measure;

	.doc-meta {
		a {
			white-space: nowrap;
		}
	}
}
