.layout-contents .main-article .article-content > p {
	@include box-block;
	padding-top: $gap;
	padding-bottom: $gap;
}

.doc-list {
	@include list-none;

	a {
		@include flex;
		flex-wrap: nowrap; // override flex
		text-decoration: none; // defer to child

		&:hover,
		&:focus,
		&:active {
			.doc-preview {
				text-decoration: none;
			}
		}
	}

	.doc-reference {
		margin-left: .1875rem;
		white-space: nowrap;
	}

	.doc-preview {
		@include text-overflow;
		position: relative; // for pseudo-content
		z-index: 1; // above pseudo-content
		width: 100%; // required for text-overflow to work properly with flex
		text-decoration: underline;

		&::after {
			position: absolute; // avoid triggering text-overflow unnecessarily
			font-family: $font-body; // override .doc-name
			font-weight: normal;     // override .doc-name
			content: "\A0. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."; // long enough to span $measure * 1.5
		}
	}
}
