// Site Main
.site-main {
	margin-bottom: ( $gap * 5 ); // bottoms always need more

	> *:not(.main-rule) {
		margin-top: var(--gutter);
		margin-bottom: var(--gutter);
	}
}

.main-article {
	width: 100%; // for flexbox
}

.main-aside {
	width: 100%; // for flexbox

	> * {
		@include measure;
	}
}

.site-rule {
	max-width: none;
}

.main-rule {
	margin-top: ( $gap * 2 );
	margin-bottom: ( $gap * 2 );
}

.layout-home .main-rule {
	@include measure;

	&:last-of-type {
		max-width: none;

		&::after {
			width: 100%;
		}
	}
}

// TODO: Add body class for individual pages
.layout-page .rule-article,
.layout-contents .rule-article,
.layout-tags .rule-article,
.layout-check .rule-article {
	@include measure(1.5);
	margin-bottom: 0;
	+ .main-article {
		margin-top: 0;
		> .article-header {
			margin-top: 0;
		}
	}
}

.layout-note .rule-article {
	max-width: none;
	margin-bottom: 0;
	
	&::after {
		width: 100%;
		color: $color-accent;
	}
	
	+ .main-article {
		margin-top: 0;
	}
}
