dialog {
	position: absolute;
	display: block;
	left: ($gap / 2);
	right: ($gap / 2);
	max-width: $measure;
	width: auto; // fallback for fit-content
	width: fit-content;
	height: fit-content;
	margin: auto;
	padding: $gap; // fallback
	padding: var(--gutter);
	border: 0;
	border-radius: ( $border-radius * 2 );
	color: inherit;
	background: $color-bg;
	box-shadow: 0 0 $gap $color-shadow;
	
	:first-child {
		margin-top: 0; // override because of padding
	}

	:last-child {
		margin-bottom: 0; // override because of padding
	}
}

.site-modal {
	width: auto;
}

.info-modal {
	.aside-content {
		column-width: 12rem; // to taste
		column-gap: $gap; // fallback
		column-gap: var(--gutter);

		> * {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}
	}
}

.search-modal {
	max-width: ( $measure + ( $gap * 2 ) ); // fallback
	max-width: calc(#{$measure} + (var(--gutter) * 2)); // override; include children padding
	padding: 0; // override; defer to children

	.aside-header,
	.aside-content {
		padding: $gap; // fallback
		padding: var(--gutter);
		margin: 0; // padding instead
		border-radius: ( $border-radius * 2 );
	}

	.aside-header {
		@include sticky;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: ( $gap / 2 );
			right: ( $gap / 2 );
			height: ( $gap / 2 );

			// Scrolling hints
			background-image:
				radial-gradient( at top, $color-text-bg, rgba( $color-text-bg, 0 ) 70% );
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: top;
		}
	}

	.aside-content {
		padding-top: $gap; // override

		&:empty {
			display: none;
		}
	}

	input[type="search"] {
		padding-right: 6rem; // for .results-count
	}
}

.results-count {
	@include dim;
	float: right;
	position: relative;
	top: ( $gap * 2 );
	right: .25rem; // = input padding-right
	pointer-events: none;
}

dialog:not([open]) {
	display: none;
}

dialog::backdrop,
dialog + .backdrop {
	max-width: none; // override
	position: fixed;
	top: -100%; // bleed for momentum scroll
	left: 0;
	right: 0;
	bottom: -100%; // bleed for momentum scroll
	background: $color-shadow;
}

._dialog_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}