---
# Contents layout
layout:	default
---

{%- comment -%}

Builds a table of contents (list) for site documents or the current collection

{%- endcomment -%}

{%- assign collection = site.collections | where_exp: "collection", "collection.label == page.collection" | first -%}

<hr class="main-rule rule-article">

<article id="{{ page.collection | default: 'site' }}-contents" class="{{ page.collection | default: 'site' }}-collection contents-doc main-article" role="document">
	<header class="article-header">
		<h1 class="doc-title doc-meta">{{ page.title }}</h1>
	</header>
	<div class="article-content">

		{%- capture content -%}{%- include doc-content.html doc_content=content -%}{%- endcapture -%}

		{{- content -}}

		{%- comment -%}

		Get list of docs
		If posts, sort by recent date (default)
		For all others, exclude posts, exclude docs without ID, sort by ID, reverse to show recent first

		{%- endcomment -%}

		{%- if page.collection == "posts" -%}
			{%- assign docs = site.documents | where: "collection", "posts" | reverse -%}
		{%- else -%}
			{%- if page.collection -%}
				{%- assign docs = site.documents | where: "collection", page.collection -%}
			{%- else -%}
				{%- assign docs = site.documents | where_exp: "document", "document.collection != 'posts'" -%}
			{%- endif -%}
			{%- assign docs = docs | where_exp: "document", "document.uid != nil" | sort: "uid" | reverse -%}
		{%- endif -%}

		{%- include list-docs.html docs=docs -%}

	</div>
</article>
