---
# Contents layout
layout:	default
---

{%- comment -%}

Builds a table of contents (list) for site documents or the current collection

{%- endcomment -%}

{%- assign collection = site.collections | where_exp: "collection", "collection.label == page.collection" | first -%}

<article id="{{ page.collection | default: 'site' }}-contents" class="{{ page.collection | default: 'site' }}-collection contents-doc main-doc" role="document"{%- if collection.color -%}{{" "}}style="--collection-color:{{ collection.color }}"{%- endif -%}>
	<header class="doc-header">
		<h1 class="doc-title doc-meta">{{ page.title }}</h1>
	</header>
	<div class="doc-content">

		{{ content }}

		{%- comment -%}

		Get list of docs
		If posts, sort by recent date (default)
		For all others, exclude posts, exclude docs without ID, sort by ID, reverse to show recent first

		{%- endcomment -%}

		{%- if page.collection == "posts" -%}

		{%- assign docs = site.documents | where: "collection", "posts" | reverse -%}
		{%- include list-posts.html my_docs=docs -%}

		{%- else -%}

		{%- if page.collection -%}

		{%- assign docs = site.documents | where: "collection", page.collection -%}

		{%- else -%}

		{%- assign docs = site.documents | where_exp: "doc", "doc.collection != 'posts'" -%}

		{%- endif -%}

		{%- assign docs = docs | where_exp: "doc", "doc.uid" | sort: "uid" | reverse -%}
		{%- include list-notes.html my_docs=docs -%}

		{%- endif -%}

	</div>
</article>
