---
# Home layout
layout:	default
---

{%- capture content -%}{%- include filter-content.html my_content=content -%}{%- endcapture -%}

{{- content -}}

{%- assign limit = 5 -%}

{%- comment -%} Use site.documents in place of site.posts to be consistent {%- endcomment -%}

{%- assign site_posts = site.documents | where: "collection", "posts" | reverse -%}

{%- if site_posts.size > 0 -%}

{%- for post in site_posts limit: limit -%}
	{%- include article-post.html my_doc=post -%}
{%- endfor -%}

{%- if site_posts.size > limit -%}

{%- comment -%} NOTE: Manually set url to an blog archives page if there is one {%- endcomment -%}

<hr class="main-rule rule-aside">

<aside class="main-aside" role="complementary">
	<p class="more"><a href="{{ '/posts/' | absolute_url }}" rel="archives">More blog posts…</a></p>
</aside>

{%- endif -%}

{%- endif -%}

{%- assign documents = site.documents | where_exp: "doc", "doc.uid" | sort: "uid" | reverse -%}
{%- assign home_docs = "" | split: "," -%}

{%- assign latest_docs = documents | where_exp: "doc", "doc.collection != 'posts'" -%}

{%- if latest_docs.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="latest-notes main-aside" role="complementary">
	<h2 class="aside-title">Latest Notes:</h2>
	<div class="aside-content">

		{%- assign limited_latest_docs = "" | split: "," -%}
		{%- for doc in latest_docs -%}
			{%- unless home_docs contains doc -%}
				{%- assign limited_latest_docs = limited_latest_docs | push: doc -%}
				{%- assign home_docs = home_docs | push: doc -%}
			{%- endunless -%}
			{%- if limited_latest_docs.size >= limit -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}

		{%- include list-docs.html my_docs=limited_latest_docs -%}

	</div>
</aside>

{%- endif -%}

{%- comment -%}

{%- assign featured_docs = documents | where_exp: "doc", "doc.featured" -%}

{%- if featured_docs.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="featured-notes main-aside" role="complementary">
	<h2 class="aside-title">Featured Notes:</h2>
	<div class="aside-content">

		{%- assign limited_featured_docs = "" | split: "," -%}
		{%- for doc in featured_docs -%}
			{%- unless home_docs contains doc -%}
				{%- assign limited_featured_docs = limited_featured_docs | push: doc -%}
				{%- assign home_docs = home_docs | push: doc -%}
			{%- endunless -%}
			{%- if limited_featured_docs.size >= limit -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}

		{%- include list-docs.html my_docs=limited_featured_docs -%}

	</div>
</aside>

{%- endif -%}

{%- assign updated_docs = documents | where_exp: "doc", "doc.updated" -%}

{%- if updated_docs.size > 0 -%}

<hr class="main-rule rule-aside">

<aside class="updated-notes main-aside" role="complementary">
	<h2 class="aside-title">Updated Notes</h2>
	<div class="aside-content">

		{%- assign limited_updated_docs = "" | split: "," -%}
		{%- for doc in updated_docs -%}
			{%- unless home_docs contains doc -%}
				{%- assign limited_updated_docs = limited_updated_docs | push: doc -%}
				{%- assign home_docs = home_docs | push: doc -%}
			{%- endunless -%}
			{%- if limited_updated_docs.size >= limit -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}
	
		{%- include list-docs.html my_docs=limited_updated_docs -%}
	
	</div>
</aside>

{%- endif -%}

{%- endcomment -%}
