---
# Post/Blog layout
layout:	default
---

{%- comment -%} Get corresponding documents for consistency {%- endcomment -%}

{%- assign my_doc = site.documents | where: "id", page.id | first -%}

{%- include article-post.html my_doc=my_doc -%}

{%- if page.previous -%}

{%- assign doc_previous = site.documents | where: "id", page.previous.id -%}

<aside class="pagination-aside prev-aside main-aside">
	<h1 class="aside-title">Previous</h1>
	<div class="aside-content">
		{%- include list-docs.html my_docs=doc_previous -%}
	</div>
</aside>

{%- endif -%}

{%- if page.next -%}

{%- assign doc_next = site.documents | where: "id", page.next.id -%}

<aside class="pagination-aside next-aside main-aside">
	<h1 class="aside-title">Next</h1>
	<div class="aside-content">
		{%- include list-docs.html my_docs=doc_next -%}
	</div>
</aside>

{%- endif -%}
