---
# Post/Blog layout
layout:	default
---

{%- include article-post.html my_doc=page -%}

{%- if post.previous -%}
{%- capture previous_preview -%}{%- include filter-excerpt.html my_content=post.previous.content -%}{%- endcapture -%}
<aside class="pagination-aside prev-aside main-aside">
	<h1 class="aside-title">Previous</h1>
	<div class="aside-content">
		<a href="{{ post.previous.url | absolute_url }}" rel="prev">
			<span class="doc-date">{{ post.previous.date | date: site.date_format }}</span>
			<span class="doc-preview">{{ previous_preview | strip }}</span>
		</a>
	</div>
</aside>
{%- endif -%}

{%- if post.next -%}
{%- capture next_preview -%}{%- include filter-excerpt.html my_content=post.next.content -%}{%- endcapture -%}
<aside class="pagination-aside next-aside main-aside">
	<h1 class="aside-title">Next</h1>
	<div class="aside-content">
		<a href="{{ post.next.url | absolute_url }}" rel="next">
			<span class="doc-date">{{ post.next.date | date: site.date_format }}</span>
			<span class="doc-preview">{{ next_preview | strip }}</span>
		</a>
	</div>
</aside>
{%- endif -%}
